.mainBox {
  min-height: 100vh;
}

.resetBox {
  min-height: 100vh;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.contentBox {
  width: calc(100% - 30%);
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.05);
  transform: scale(0.8);
}

.contentBoxMobile {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.titleBox {
  font-size: calc(0.8rem + 2vw);
}

.textUnderScore {
  background-color: #f9e006;
  height: 5px;
  width: 40px;
}
