.datePickerArea {
  width: 60%;
}

.tableBox {
  margin-top: 2rem;
}

.tableArea {
  overflow-y: auto;
  padding-right: 1rem;
}

.filterBoxMobile {
  padding: 1rem;
}

.searchAreaMobile {
  margin-bottom: 1rem;
}

.currencyBox {
  color: inherit;
  background: #EEEEEE;
  /* border-color: #EEEEEE; */
  border-radius: 4px;
  height: 43px;
  border: none;
}

.tableBoxHead{
  border: 1px solid #E8E8F3;
  /* display: flex; */
  /* justify-content: center; */
  /* align-items: center; */
}

.titleBox {
  font-size: calc(0.9rem + 1.2vw);
  text-align: left;
}

.mainBoxMobile{
  padding: 10px;
}

