.textUnderScore {
  background-color: #f9e006;
  height: 5px;
  width: 40px;
}

.imageUploadBox {
  width: 100%;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem 0;
}

.imageBox {
  display: flex;
  gap: 32px;
  height: 100px;
}

.uploadedImage {
  border-radius: 5px;
  position: relative;
}

.uploadedImage > img {
  width: 100%;
  height: 100px;
}

.cancelButton {
  position: absolute;
  top: 0%;
}
