.mainArea {
  height: 100vh;
  background-image: url("../../../assets/twoFAPinBG.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  display: flex;
}

.mainAreaLight {
  height: 100vh;
  background-image: url("../../../assets/twoFAPinBGLight.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  display: flex;
}

.contentBox {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.contentBox > div {
  transform: scale(0.8);
}

.modalStyle {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 5px;
  text-align: center;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.05);
}

.modalStyleMobile {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.modalStyleMobile > div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.modalPinInput {
  text-align: center;
  font-size: 2.5rem;
}

.pinInputBox {
  text-align: center;
  font-size: 2.5rem;
}

.pinInputBox:focus-visible {
  border: none;
}

.textUnderScore {
  background-color: #f9e006;
  height: 5px;
  width: 30px;
}

.logoBox {
  position: relative;
  padding-left: 1rem;
  padding-top: 1rem;
}

.pinFieldDark {
  background-color: transparent;
  border-bottom: 2px solid #f9e006;
  border-top: none;
  border-left: none;
  border-right: none;
  color: #fff;
  box-shadow: none;
  border-radius: 0.3rem;
  font-size: 2rem;
  height: 3.5rem;
  text-align: center;
  transition: all 0.1s ease-in;
  width: 3rem;
  margin-right: 1rem;
}

.pinFieldLight {
  background-color: transparent;
  border-bottom: 2px solid #f9e006;
  border-top: none;
  border-left: none;
  border-right: none;
  color: #111;
  box-shadow: none;
  border-radius: 0.3rem;
  font-size: 2rem;
  height: 3.5rem;
  text-align: center;
  transition: all 0.1s ease-in;
  width: 3rem;
  margin-right: 1rem;
}

.pinFieldDark:focus {
  border-color: none;
  outline: none;
  transform: scale(1.05);
}

.pinFieldLight:focus {
  border-color: none;
  outline: none;
  transform: scale(1.05);
}

.pinFieldDark:invalid {
  animation: shake 3 linear 75ms;
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: 2px solid rgb(220, 53, 69);
  box-shadow: 0 0 0.25rem rgba(220, 53, 69, 0.5);
}
.pinFieldLight:invalid {
  animation: shake 3 linear 75ms;
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: 2px solid rgb(220, 53, 69);
  box-shadow: 0 0 0.25rem rgba(220, 53, 69, 0.5);
}

.textUnderScore {
  background-color: #f9e006;
  height: 5px;
  width: 40px;
}

@keyframes shake {
  from {
    transform: scale(1.05) translateY(-5%);
  }
  to {
    transform: scale(1.05) translateY(5%);
  }
}
